* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  height: 100vh;
  font-size: 62.5%;
}

body {
  height: 100%;
  background-color: #F2C1AE;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  width: 40rem;
  height: 50%;
  background-color: #F0F8FF;
}

p {
  width: 36rem;
  height: 20rem;
  text-align: center;
  padding: 2rem 1rem;
}

.container__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
}

button {
  width: 50%;
  height: 4rem;
  outline: none;
  cursor: pointer;
  transition: 
    transform 250ms ease-in-out;
}

.container,
button {
  box-shadow: 0 .4rem .8rem rgba(0, 0, 0, .3);
}

button:hover {
  transform: scale(1.050);
}

button:active {
  transform: scale(0.950);
}