* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  height: 100vh;
  font-size: 62.5%;
}

body {
  height: 100%;
  background-color: #F2C1AE;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  width: 40rem;
  height: 50%;
  background-color: #F0F8FF;
}

p {
  font-size: 2rem;
  text-wrap: wrap;
}

.container__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
}

button {
  width: 50%;
  height: 4rem;
}